@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
:root {
  --font-display: "Urbanist", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #FF9324;
}


/* Base layer styles */
@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}

/* Input Box Styling */
.input-box {
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  outline: none;
  padding: 0.75rem 1rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
.input-box:focus-within {
  border-color: #fb923c;
}

/* Button Styling */
.button-black {
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 0.375rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  box-shadow: 0 0 10px rgba(251, 146, 60, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-black:hover {
  background-color: #fb923c;
  color: black;
}

/* Gradient Button Styling */
.button-gradient {
  background-image: linear-gradient(to right, #FF9324, #e99a4b);
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  padding: 0.5rem 1.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-gradient:hover {
  background-color: black;
  color: white;
}

/* Keyframe Animations */
@keyframes blob1 {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(20px, 140px) scale(1.05);
  }
  66% {
    transform: translate(20px, 20px) scale(0.95);
  }
}

@keyframes blob2 {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(40px, 60px) scale(1.15);
  }
  66% {
    transform: translate(-20px, 30px) scale(0.85);
  }
}

@keyframes blob3 {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(20px, 140px) scale(1.05);
  }
  66% {
    transform: translate(-30px, -30px) scale(0.85);
  }
}

/* Animation Classes */
.animate-blob1 {
  animation: blob1 8s ease-in-out infinite;
}
.animate-blob2 {
  animation: blob2 10s ease-in-out infinite;
}
.animate-blob3 {
  animation: blob3 12s ease-in-out infinite;
}